<app-navbar></app-navbar>
<div>
    <h1 style="margin-top: 20px; margin-left: 50px;">Liste des commandes:</h1>
</div>
<div class="list" style="margin-left: 50px; margin-top: 30px; margin-bottom: 100px;">
    <ul>
        <a href="/home">
            <li><span>Accueil</span></li>
        </a>
        <a href="/chat">
            <li><span>Message</span></li>
        </a>
        <a href="/admindashboard">
            <li><span>Administrateur</span></li>
        </a>
        <a href="/form">
            <li><span>Formulaire</span></li>
        </a>
        <a href="/faq">
            <li><span>Question</span></li>
        </a>
        <a href="/login">
            <li><span>Connecter</span></li>
        </a>
        <a href="/signup">
            <li><span>Inscrire</span></li>
        </a>
        <a href="/userslist">
            <li><span>Utilisateur</span></li>
        </a>
        <a href="/editprofile">
            <li><span>Modifier</span></li>
        </a>
        <a href="/profile">
            <li><span>Profil</span></li>
        </a>
        <a href="/aide">
            <li><span>Aide</span></li>
        </a>
    </ul>
</div>
<app-footer></app-footer>